<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Actividad___Angulo_Zazueta.Properties.Settings.cedisConnectionString"
            connectionString="Data Source=DESKTOP-D34PHAV;Initial Catalog=cedis;User ID=ma;Password=abc123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>